server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:

        - id: cart-service
          uri: lb://cart-service
          predicates:
            - Path=/cart/**

        - id: order-service
          uri: lb://order-service
          predicates:
            - Path=/order/**
  

        - id: inventory-service
          uri: lb://inventory-service
          predicates:
            - Path=/inventory/**


        - id: payment-service
          uri: lb://payment-service
          predicates:
            - Path=/payment/**


        - id: product-service
          uri: lb://product-service
          predicates:
            - Path=/product/**


        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/user/**


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
