server:
  port: 8085

spring:
  application:
    name: order-service

  datasource:
    url: jdbc:mysql://localhost:3306/microservices_db
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

management:
  endpoints:
    web:
      exposure:
        include: "*"

  tracing:
    sampling:
      probability: 1.0

  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans

resilience4j:
  circuitbreaker:
    instances:
      paymentService:
        slidingWindowSize: 5
        minimumNumberOfCalls: 3
        failureRateThreshold: 50
        waitDurationInOpenState: 10s

      inventoryService:
        slidingWindowSize: 5
        failureRateThreshold: 50

      productService:
        slidingWindowSize: 5
        failureRateThreshold: 50

  retry:
    instances:
      paymentService:
        maxAttempts: 3
        waitDuration: 2s
